= nav_bar brand: "MatTwitter", brand_link: root_path do
    = menu_group do
        = menu_item "Profil", root_path
        = menu_item "All messages", root_path
        = menu_item "Message from user", root_path