= form_with model: @user, local: true do |form|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@article.errors.count, "error")
        prohibited
        this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  %p
    = form.label :first_name
    %br/
    = form.text_field :first_name
  %p
    = form.label :last_name
    %br/
    = form.text_field :last_name
  %p
    = form.label :email
    %br/
    = form.text_field :email
  %p
    = form.label :login
    %br/
    = form.text_field :login
  %p
    = form.label :passsword
    %br/
    = form.text_field :password
  %p
    = form.submit

