
= form_for @user, url: signup_path do |form|
  %p
    = form.label :email
    %br/
    = form.text_field :email, class: 'form-control', type: 'email'
  %p
    = form.label :name
    %br/
    = form.text_field :name, class: 'form-control', type: 'name'
  %p
    = form.label :password, value: ''
    %br/
    = form.text_field :password, class: 'form-control', type: 'password', value: ''
  %p
    = form.label :password_confirmation, value: ''
    %br/
    = form.text_field :password_confirmation, value: '', class: 'form-control', type: 'password'
  %p
    = form.submit class: 'btn btn-primary'

= @user.errors.full_messages