
- if @user.errors.any?
  = @user.errors.full_messages

= form_for @user, url: signup_path do |form|
  %p
    = form.label :email
    %br/
    = form.text_field :email, class: 'form-control', type: 'email'
  %p
    = form.label :name
    %br/
    = form.text_field :name, class: 'form-control', type: 'name'
  %p
    = form.label :password
    %br/
    = form.text_field :password, class: 'form-control', value: '', type: 'password'
  %p
    = form.label :password_confirmation
    %br/
    = form.text_field :password_confirmation, class: 'form-control', type: 'password', value: ''
  %p
    = form.submit class: 'btn btn-primary'

